@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body{
    font-family: 'Roboto', sans-serif;
    
}


.entrycontainer{
    padding-top: 5px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.entrylist{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
}



.entrylbl{
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
}


.findcss{
    margin-left: 25%;
    padding-left: 30%;
    padding-right: 30%;
    font-weight: bold;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    
}





.container {  display: grid;
grid-template-columns: 10vw 5vw 36vw 5vw 36vw 5vw;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
    "drinks drinksaisle fruitveg . chips ."
    "drinks drinksaisle fruitvegaisle fruchiaisle chipsaisle chileftaisle"
    "drinks drinksaisle cannedgoods fruchiaisle instantnoodles chileftaisle"
    "drinks drinksaisle cannedgoodsaisle caninsaisle instantnoodlesaisle insleftaisle"
    "frozen frozenaisle medical caninsaisle condiments insleftaisle"
    "frozen frozenaisle medicalaisle medconaisle condimentsaisle conleftaisle"
    "frozen frozenaisle cleaning medconaisle hygiene conleftaisle"
    "frozen frozenaisle cleaningaisle centeraisle hygieneaisle entrance";
}




.hygiene, .condiments, .instantnoodles, .chips, .cleaning, .medical, .cannedgoods, .fruitveg{
    text-align: center;
    padding: 5%;
    font-weight: bold;
    border: 3px solid black ;
    border-radius: 10px;
    font-size: 1vw;
    margin: 3px;
}

.frozen, .drinks{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 3px solid black ;
    border-radius: 10px;
    margin: 3px;

}

.hygiene { grid-area: hygiene; 
    background-color: rgb(233, 216, 219);
    
}

.condiments { grid-area: condiments; 
    background-color: rgb(4, 148, 4);
}

.medical { grid-area: medical; 
    background-color: rgb(243, 4, 4);
}

.cannedgoods { grid-area: cannedgoods;
    background-color: rgb(243, 147, 4);
}

.instantnoodles { grid-area: instantnoodles;
    background-color: rgb(243, 227, 4);
}

.chips { grid-area: chips; 
    background-color: rgb(88, 119, 255);
}

.drinks { grid-area: drinks; 
    background-color: rgb(167, 4, 243);
}

.frozen { grid-area: frozen;
    background-color: rgb(4, 167, 243);
}

.fruitveg { grid-area: fruitveg;
    background-color: rgb(131, 99, 99)
}

.cleaning { grid-area: cleaning; 
    background-color: rgb(206, 230, 241);
}



.fruitvegaisle, .cannedgoodsaisle, .medicalaisle, .cleaningaisle, .hygieneaisle, .condimentsaisle, .instantnoodlesaisle, .chipsaisle, .entrance, .centeraisle{
    border-radius: 5px;
}



.frozenaisle, .drinksaisle, .medconaisle, .caninsaisle, .fruchiaisle, .chileftaisle, .insleftaisle, .conleftaisle{
    border-radius: 5px;
}


.breathing {
    animation: breathe 3s infinite alternate;
}

.nobreathing {
    animation: breathe 3s infinite alternate;
}

@keyframes breathe {
    0% {
        background-color: rgba(124, 182, 151, 0.878);
    }
    50% {
        background-color: rgb(164, 117, 207);
    }
    100% {
        background-color: rgb(203, 102, 102);
    }
}




.drinksaisle { grid-area: drinksaisle; 

}

.frozenaisle { grid-area: frozenaisle;

}


.fruitvegaisle { grid-area: fruitvegaisle;

}


.cannedgoodsaisle { grid-area: cannedgoodsaisle;

}


.medicalaisle { grid-area: medicalaisle; 

}



.cleaningaisle { grid-area: cleaningaisle; 

}




.hygieneaisle { grid-area: hygieneaisle;

}


.condimentsaisle { grid-area: condimentsaisle; 

}


.instantnoodlesaisle { grid-area: instantnoodlesaisle; 

}


.chipsaisle { grid-area: chipsaisle; 

}


.entrance { grid-area: entrance; 
    
    font-size: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;


}


.conleftaisle { grid-area: conleftaisle; 

}


.insleftaisle { grid-area: insleftaisle; 

}


.chileftaisle { grid-area: chileftaisle; 

}

.centeraisle { grid-area: centeraisle;

}


.medconaisle { grid-area: medconaisle; 

}

.caninsaisle { grid-area: caninsaisle; 

}

.fruchiaisle { grid-area: fruchiaisle; 

}



